# ========================
# Quarto 
# ========================
/.quarto/
*_cache/
*_files/

# ========================
# RStudio
# ========================
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history


# ========================
# Wygenerowane raporty
# ========================
 *.html
 *.pdf
 *.docx

# ========================
# Pliki systemowe
# ========================
.DS_Store
Thumbs.db
